
fastapi
uvicorn[standard]
passlib[bcrypt]
python-jose
python-multipart
psycopg2-binary
pydantic-settings
pydantic[email]
pydantic-extra-types
phonenumbers
tenacity
alembic
sqlalchemy>=2.0
# dev
prometheus-client
prometheus-fastapi-instrumentator
pytest
